<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/styles.min.css" asp-append-version="true"/>

    <title>IdpServer</title>
</head>
<body>
    <partial name="_Nav" />

    <div class="container body-container">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
