@using IdpServer.Controllers.Account;
@model ChangePasswordInputModel

<div>
    <form asp-route="ChangePassword">
        <fieldset>
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input class="form-control" placeholder="Current password" asp-for="CurrentPassword" autofocus>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input class="form-control" placeholder="New password" asp-for="NewPassword" >
            </div>
            <div class="form-group">
                <label>Retype new password</label>
                <input class="form-control" placeholder="Retype new password">
            </div>
        </fieldset>
    </form>
</div>